.trash
.github
*mnfiles/
custom-*mn-rules/
node_modules/
.*mnlintrc*
*.*mn
*.bak
*.md
outputfiles/
reportfiles/
tmp/
*mnlint-runner/rules/
*mnlint-runner/bp*rules/rules/*
*mnlint-runner/node_modules/
*mnlint-runner/.*mnlintrc*
*mnlint-runner/.trash/
*mnlint-runner/custom*rules/
*mnlint-runner/*.*mn
*mnlint-runner/*.md
