# Local files
env.sh
model/
spec/
feature/
config.json
config.yml
.DS_Store
1
.trash
*.bak

# Local dev files
custom-bpmn-rules
custom-dmn-rules
bpmnlint-runner/lint-report.*
bpmnlint-runner/node_modules/
bpmnlint-runner/bp3-dynamic-rules/node_modules/
bpmnlint-runner/bp3-dynamic-rules/rules/*.js
dmnlint-runner/lint-report.*
dmnlint-runner/node_modules/
dmnlint-runner/bp3-dynamic-rules/node_modules/
dmnlint-runner/bp3-dynamic-rules/rules/*.js

# Distribution / packaging
build/
dist/
local/
sdist/
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jetbrains
.idea/
.Idea/
*.iml

# bpmn files
*.bpmn
*.form
.bpmnlintrc*

# dmn files
*.dmn
.dmnlintrc*

/node_modules/
packages.txt
