# Local files
env.sh
model/
spec/
feature/
config.json
config.yml
.DS_Store
1
.trash
custom-*mn-rules
*mnfiles
outputfiles
*.bak
tmp/
.vscode/

# Local dev files
lint-runner/lint-report.*
lint-runner/node_modules/
lint-runner/bp3-dynamic-rules/node_modules/
lint-runner/bp3-dynamic-rules/rules/*.js

# Distribution / packaging
build/
dist/
local/
sdist/
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jetbrains
.idea/
.Idea/
*.iml

# bpmn files
*.bpmn
*.form
.bpmnlintrc*

# dmn files
*.dmn
.dmnlintrc*

/node_modules/
packages.txt
