name: Build main

env:
  GITHUB_IMAGE_NAME: 'ghcr.io/bp3/camunda-lint'
  PROJECT_NAME: 'camunda-lint'
  ORG_NAME: 'bp3'

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  call-workflow-build-image:
    uses: ./.github/workflows/build-image.yml
    with:
      username: ${{ github.actor }}
      project-name:  'camunda-lint'
      org-name:  'bp3'
      # image-name: ghcr.io/bp3/camunda-lint
      image-name: 'ghcr.io/bp3/camunda-lint'
      branch-name: ${{ github.head_ref || github.ref_name }}
    secrets: inherit
